<div class="container">
  <div class="featured">
    <span class="rotate">Featured</span>
  </div>


    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="image-container">
            <img [src]="imageUrl1" alt="Product 1" class="featured-image">
          </div>
          <h2 class="mb-1">Bruna Cush</h2>
          <p class="price">$145.60</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="image-container">
            <img [src]="imageUrl2" alt="Product 2" class="featured-image">
          </div>
          <h2 class="mb-1">Drop Type</h2>
          <p class="price">$265.50</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="image-container">
            <img [src]="imageUrl3" alt="Product 3" class="featured-image">
          </div>
          <h2 class="mb-1">Backboard 3</h2>
          <p class="price">$160.00</p>
        </div>
      </div>
    </div>


  <div class="circle ml-5">
    <span class="material-symbols-outlined">
      arrow_right_alt
    </span>
  </div>
</div>
