.footer {
  background-color: #161618;
  padding: 30px;
}

.column1 {
  h1 {
    color: #dcdcdc;
    text-align: center;
  }

  ul {
    text-align: center;
    padding-left: 0;

    li {
      color: #5a595c;
      text-decoration: none;
      list-style-type: none;
      padding: 5px;
    }
  }
}

.mat-divider {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.footer-down {
  padding-top: 8px;
  color: #dcdcdc;
  background-color: #161618;
  padding-left: 30px;
  padding-right: 30px;
}
