.footer {
  background-color: #161618;
  padding-top: 16px;
}

.column1 {
  h1 {
    font-size: 20px;
    color: #dcdcdc;
    text-align: center;
    margin-bottom: 4px;

    @media screen and (max-width: 987px)
    {
      font-size: 18px;
    }
  }

  ul {
    text-align: center;
    padding-left: 0;

    li {
      color: #5a595c;
      text-decoration: none;
      list-style-type: none;
      padding: 4px;

      &:hover {
          color: #fff;
      }

      @media screen and (max-width: 987px)
      {
        font-size: 12px;
      }
    }
  }
}

.mat-divider {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.footer-down {
  padding-top: 8px;
  color: #dcdcdc;
  background-color: #161618;
  padding-left: 30px;
  padding-right: 30px;

  .copy-write{
    @media screen and (max-width: 987)
    {
      font-size: 15px;
    }
  }
}
