.footer {
  background-color: #161618;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 100px;

  h1{
    color: white;
    font-size: 40px;
    font-weight: 600;
  }
}

.nav-items {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 30px;
  margin-right: 30px;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;

  i {
    font-size: 25px;
  }
}

.nav-item a:hover {
  color: #555;
}


.rights {
  background-color: #161618;
  padding: 10px;
  color: white;
}
