<div class="footer" fxLayout="row" fxLayoutAlign="space-evenly">

    <div class="column1" fxLayout="column">
        <h1>General</h1>
        <ul>
            <li>Showroom</li>
            <li>Contact</li>
        </ul>
    </div>

    <div class="column1" fxLayout="column">
        <h1>Services</h1>
        <ul>
            <li>Download</li>
            <li>Agents</li>
            <li>Certivicates</li>
        </ul>
    </div>

    <div class="column1" fxLayout="column">
        <h1>Social Media</h1>
        <ul>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>TikTok</li>
            <li>Youtube</li>
        </ul>
    </div>

    <div class="column1" fxLayout="column">
        <h1>About</h1>
        <ul>
            <li>Company</li>
            <li>Career</li>
            <li>Legal</li>
            <li>Help</li>
        </ul>
    </div>
</div>

<mat-divider class="mat-divider"></mat-divider>

<div fxLayout="row" fxLayoutAlign="space-between center" class="footer-down">
    <h1>The Furnish Co.</h1>
    <span class="copy-write">Copyright 2023 - The Furnish Co.</span>
</div>