<nav class="navbar">
  <div class="navbar-left">
    <span class="logo-text">The Furnish.Co</span>
  </div>
  <div class="navbar-right mr-5" fxHide.lt-md>
    <ul class="nav-items">
      <li class="nav-item"><a href="javascript:void(0);" (click)="redirectToPage('/home')">Home</a></li>
      <li class="nav-item"><a href="javascript:void(0);" (click)="redirectToPage('/product')">Furniture</a></li>
      <li class="nav-item"><a href="javascript:void(0);" (click)="redirectToPage('/contact-us')">Store</a></li>
    </ul>


    <div appearance="outline" class="search-bar" [ngClass]="{ 'expanded': isSearchExpanded }">
      <input class="search-input" type="text" placeholder="Search" [(ngModel)]="searchQuery">
    </div>



    <div class="search-cart-icons">
      <span class="icon" (click)="toggleSearch()">
        <i class="material-icons">search</i>
      </span>
      <span class="icon" (click)="redirectToPage('/cart')">
        <i class="material-icons">shopping_cart</i>
      </span>
      <span class="material-symbols-outlined" (click)="redirectToPage('/account')">
        account_circle
      </span>
    </div>
  </div>
</nav>
