<nav class="navbar">
    <div class="navbar-left">
        <span class="logo-text">The Furnish.Co</span>
      </div>
    <div class="navbar-right mr-5">
      <ul class="nav-items">
        <li class="nav-item"><a href="javascript:void(0);" (click)="redirectToHomePage()">Home</a></li>
        <li class="nav-item"><a href="javascript:void(0);" (click)="redirectToProductPage()">Furniture</a></li>
        <li class="nav-item"><a href="javascript:void(0);" (click)="redirectToProductPage()">Product</a></li>
        <li class="nav-item"><a href="#">Store</a></li>
      </ul>
      <div class="search-cart-icons">
        <span class="icon">
          <i class="material-icons">search</i>
        </span>
        <span class="icon">
          <i class="material-icons">shopping_cart</i>
        </span>
      </div>
    </div>
    <div class="menu-icon">
      <span class="icon">
       <i class="material-icons">menu</i>
      </span>
    </div>
  </nav>
  
