<div class="containers">
    <app-navbar></app-navbar>


    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
            <h1 class="contact-title">Store</h1>
        </div>

        <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center">


            <div class="icon-card">
                <span class="material-symbols-outlined">
                    call
                </span>
            </div>
            <mat-divider></mat-divider>
            <div class="icon-card">
                <span class="material-symbols-outlined">
                    mail
                </span>
            </div>
            <mat-divider></mat-divider>
            <div class="icon-card">
                <span class="material-symbols-outlined">
                location_on
                </span>
            </div>
            <mat-divider></mat-divider>
            <div class="icon-card">
                <span class="material-symbols-outlined">
                location_on
                </span>
            </div>
            <mat-divider></mat-divider>


        </div>
    </div>
    <app-footer></app-footer>
</div>







