<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="10px">
  <div fxFlex="50%" fxFlex.xs="100%">
    <div class="navbar-left">
      <span class="logo-text">The Furnish.Co</span>
    </div>

  </div>




  <div fxFlex="50%" fxFlex.xs="100%" class="detail-column">
    <div class="navbar-right mx-auto my-auto">
      <ul class="nav-items">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">Furniture</a></li>
        <li class="nav-item"><a href="#">Product</a></li>
        <li class="nav-item"><a href="#">Store</a></li>
      </ul>
      <div class="search-cart-icons">
        <span class="icon">
          <i class="material-icons">search</i>
        </span>
        <span class="icon">
          <i class="material-icons">shopping_cart</i>
        </span>
      </div>
    </div>
    <div class="menu-icon">
      <span class="icon">
        <i class="material-icons">menu</i>
      </span>
    </div>
      <span>PREMIUM CHAIRS</span>
      <h1>Drop type cushion chair</h1>
      <span class="review-span" fxLayout="row" fxLayoutAlign="center">
        <mat-icon color="warn" class="star-icon">star</mat-icon>
        <span class="review-text">8/15. 15 Reviews</span>
      </span>
  </div>
  


</div>
