<div fxLayout="row" fxLayout.xs="column">


  <div fxFlex="50%" fxFlex.xs="100%" class="image-column" >
    <div class="navbar-left">
      <span class="logo-text">The Furnish.Co</span>
      <div class="menu-icon">
        <span class="icon">
         <i class="material-icons">menu</i>
        </span>
      </div>
    </div>
    
    <div class="image-container" fxLayoutAlign="space-evenly center">
      <img [src]="imageUrl" alt="" class="main-image"/>
    </div>

    <div fxLayoutAlign="center" >
      <img [src]="smallImage1" alt="" class="small-image"/>
      <img [src]="smallImage2" alt="" class="small-image"/>
      <img [src]="smallImage3" alt="" class="small-image"/>
    </div>

  </div>




  <div fxFlex="50%" fxFlex.xs="100%" class="detail-column">

    <nav class="navbar ml-5" fxLayoutAlign="space-evenly center">
    <div class="navbar-right">
      <ul class="nav-items">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">Furniture</a></li>
        <li class="nav-item"><a href="#">Product</a></li>
        <li class="nav-item"><a href="#">Store</a></li>
      </ul>
      <div class="search-cart-icons">
        <span class="icon">
          <i class="material-icons">search</i>
        </span>
        <span class="icon">
          <i class="material-icons">shopping_cart</i>
        </span>
      </div>
    </div>
   
  </nav>

  <!--content area-->

  <div class="content-area px-auto" fxLayout="column"  fxLayoutAlign="space-evenly center">
    <p class="label"><b>PREMIUM CHAIRS</b></p>
    <h1><b>Drop type cushion chair</b></h1>
    <div class="rating">
      <span>
        <span class="material-symbols-outlined star-icon">star</span>
      </span>
      <span>8/15. <span style="color: #7f848d">15 Reviews</span></span>
    </div>

    <div class="color-container">
      <span class="material-symbols-outlined color1">fiber_manual_record</span>
      <span class="material-symbols-outlined color2">fiber_manual_record</span>
    </div>

    <p class="description">Premium & comfortable memory form with<br>a strong structure built with teakwood,<br>it feels amazing.</p>
   

    <h1><b>$265.50</b></h1>

    <div class="quantity-box">
      <span class="material-symbols-outlined remove mr-1">remove</span>
      <span>1</span>
      <span class="material-symbols-outlined add ml-1">add</span>
    </div>

    <div class="button-container">
      <button mat-raised-button class="addtocart mr-2">ADD TO CART</button>
      <button mat-raised-button class="buynow">BUY NOW</button>
    </div>



  </div>



  </div>
  


</div>
