.detail-column {
    height: 100vh;
    background-color: #f0f2f9;
}

.navbar-left {
    display: flex;
    align-items: center;
  }

  .logo-text {
    margin-left: 5px;
    font-weight: bold;
    font-size: 25px;
  }

  .navbar-right {
    display: flex;
    align-items: center;

    @media screen and (max-width: 900px)
    {
      display: none;
    }
  }

  .nav-items {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 50px;
  }
  
  .nav-item a {
    color: #555;
    text-decoration: none;
  }
  
  .nav-item a:hover {
    color: #000;
  }
  
  .search-cart-icons {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 50px;
    font-size: 18px;
    color: black;
    cursor: pointer;
  }
  
  .icon i.material-icons {
    vertical-align: middle;
  }

  .menu-icon {
    display: none;
  }
  
  @media (max-width: 900px) {
    .navbar-right {
      display: none;
    }
    
    .menu-icon {
      display: block;
    }
    
    .nav-items.show {
      display: flex;
    }
  }


