.detail-column {
    height: 100vh;
    background-color: #f0f2f9;
}

.image-column {
  padding: 30px;
}

.navbar-left {
    display: flex;
    align-items: center;
  }

  .logo-text {
    margin-left: 5px;
    font-weight: bold;
    font-size: 25px;
  }

  .main-image{
    width: 320px;
    height: auto;
    margin-top: 10%;
  }

  .small-image {
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-top: 20%;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 10px;
    padding-top: 30px;
  }

  .navbar-right {
    display: flex;
    align-items: center;

    @media screen and (max-width: 900px)
    {
      display: none;
    }
  }

  .nav-items {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 50px;
  }
  
  .nav-item a {
    color: #555;
    text-decoration: none;
  }
  
  .nav-item a:hover {
    color: #000;
  }
  
  .search-cart-icons {
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 50px;
    font-size: 18px;
    color: black;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
  
  .icon i.material-icons {
    vertical-align: middle;
  }


  
  @media (max-width: 900px) {
    .navbar-right {
      display: none;
    }
  
    .nav-items.show {
      display: flex;
    }
  }

  .content-area {
    display: block;
    margin-top: 12%;
    text-align: left;
  }

  .label {
    color: #9398a0;
    font-size: 10px;
  }


  .star-icon {
    color: #fc9d3c;
    margin-right: 8px;
  }
  
  .rating {
    display: flex;
    align-items: center;
  }

  .color-container {
    .color1 {
      display: inline-block;
      font-size: 50px;
      border-radius: 50px;
    }
    
    .color1:hover {
      color: white;
    }
    

    .color2 {
      font-size: 50px;
      color: #1e2c48;

      &:hover{
        color: white;
      }
    }
  }

  .height-box{
    border-radius: 10px;
    border: 2px solid #7f848d;
  }

  .quantity-box {
    display: flex;
    align-items: center;
    margin-top: 30px;

    .add {
      border: 1px solid #050d18;
      color: white;
      border-radius: 5px;
      background-color: #050d18;
    }
    .remove {
      border: 1px solid black;
      border-radius: 5px;
    }
  }

  .button-container {
    margin-top: 48px;

      .buynow {
        background-color: #050d18;
        color: white;
        width: 200px;
        font-size: 20px;
        font-weight: 400;
        padding: 20px;
        border-radius: 10px;
        outline: none;
      }

      .addtocart {
        background-color: white;
        color: #050d18;
        width: 200px;
        font-size: 20px;
        font-weight: 400;
        padding: 20px;
        border-radius: 10px;
        outline: none;
      }
  
      @media screen and (max-width: 768px){
        margin-bottom: 50px;
      }
  }

  .description {
    color: #7f848d;
    margin-top: 8px;
    text-align: center;
  }

  .icon {
    margin-right: 50px;
    font-size: 18px;
    color: black;
    cursor: pointer;
  }
  
  .icon i.material-icons {
    vertical-align: middle;
  }

  .menu-icon {
    display: none;
  }
  
  @media (max-width: 900px) {    
    .menu-icon {
      display: block;
      position: absolute;
      right: 2%;
    }
    
    .nav-items.show {
      display: flex;
    }
  }