<div class="containers">
    <app-navbar></app-navbar>

    <div class="header">
        Product
    </div>

    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="20%" fxFlex.xs="100%" class="category-column">
            <span class="category-title"><b>Category</b></span>
            

            <mat-chip-listbox aria-label="Fish selection">
                <mat-chip-option color="primary" class="black-chip-option">Living Room</mat-chip-option>
                <mat-chip-option color="primary" class="black-chip-option">Bedroom</mat-chip-option>
                <mat-chip-option color="accent" class="black-chip-option">Dining Room</mat-chip-option>
                <mat-chip-option color="warn" class="black-chip-option">Office</mat-chip-option>
                <mat-chip-option color="primary" class="black-chip-option">Outdoor</mat-chip-option>
                <mat-chip-option color="primary" class="black-chip-option">Kids</mat-chip-option>
                <mat-chip-option color="accent" class="black-chip-option">Storage</mat-chip-option>
                <mat-chip-option class="black-chip-option">Home Decor</mat-chip-option>
                <mat-chip-option class="black-chip-option">Sale</mat-chip-option>
            </mat-chip-listbox>
        </div>

        <div fxFlex="1 1 auto" fxFlex.xs="100%" class="product-column">

                <div fxLayout="row wrap"  fxLayoutAlign="space-evenly">

                    <div class="data-blocks" (click)="redirectToDetailPage()">
                        <div class="product-card">
                            <div class="card-content">
                              <div class="image-container">
                                <img [src]="imageUrl" alt="Product 1" class="featured-image">
                              </div>
                              <h2 class="mb-1">Bruna Cush</h2>
                              <app-rating></app-rating>
                              <p class="price mt-1">$145.60</p>
                            </div>
                          </div>
                    </div>

                    <div class="data-blocks">
                        <div class="product-card">
                            <div class="card-content">
                              <div class="image-container">
                                <img [src]="imageUrl1" alt="Product 1" class="featured-imageL">
                              </div>
                              <h2 class="mb-1">Bruna Cush</h2>
                              <app-rating></app-rating>
                              <p class="price mt-1">$145.60</p>
                            </div>
                        </div>
                    </div>
                    <div class="data-blocks">
                        <div class="product-card">
                            <div class="card-content">
                              <div class="image-container">
                                <img [src]="imageUrl" alt="Product 1" class="featured-image">
                              </div>
                              <h2 class="mb-1">Bruna Cush</h2>
                              <app-rating></app-rating>
                              <p class="price mt-1">$145.60</p>
                            </div>
                          </div>
                    </div>
                    <div class="data-blocks">
                        <div class="product-card">
                            <div class="card-content">
                              <div class="image-container">
                                <img [src]="imageUrl" alt="Product 1" class="featured-image">
                              </div>
                              <h2 class="mb-1">Bruna Cush</h2>
                              <app-rating></app-rating>
                              <p class="price mt-1">$145.60</p>
                            </div>
                          </div>
                    </div>
                    <div class="data-blocks">
                        <div class="product-card">
                            <div class="card-content">
                              <div class="image-container">
                                <img [src]="imageUrl" alt="Product 1" class="featured-image">
                              </div>
                              <h2 class="mb-1">Bruna Cush</h2>
                              <app-rating></app-rating>
                              <p class="price mt-1">$145.60</p>
                            </div>
                          </div>
                    </div>
                    <div class="data-blocks">
                        <div class="product-card">
                            <div class="card-content">
                              <div class="image-container">
                                <img [src]="imageUrl" alt="Product 1" class="featured-image">
                              </div>
                              <h2 class="mb-1">Bruna Cush</h2>
                              <app-rating></app-rating>
                              <p class="price mt-1">$145.60</p>
                            </div>
                          </div>
                    </div>

                    <div class="data-blocks">
                        <div class="product-card">
                            <div class="card-content">
                              <div class="image-container">
                                <img [src]="imageUrl" alt="Product 1" class="featured-image">
                              </div>
                              <h2 class="mb-1">Bruna Cush</h2>
                              <app-rating></app-rating>
                              <p class="price mt-1">$145.60</p>
                            </div>
                          </div>
                    </div>

                    <div class="data-blocks">
                        <div class="product-card">
                            <div class="card-content">
                              <div class="image-container">
                                <img [src]="imageUrl1" alt="Product 1" class="featured-imageL">
                              </div>
                              <h2 class="mb-1">Bruna Cush</h2>
                              <app-rating></app-rating>
                              <p class="price mt-1">$145.60</p>
                            </div>
                        </div>
                    </div>
                    <div class="data-blocks">
                        <div class="product-card">
                            <div class="card-content">
                              <div class="image-container">
                                <img [src]="imageUrl" alt="Product 1" class="featured-image">
                              </div>
                              <h2 class="mb-1">Bruna Cush</h2>
                              <app-rating></app-rating>
                              <p class="price mt-1">$145.60</p>
                            </div>
                          </div>
                    </div>
                    <div class="data-blocks">
                        <div class="product-card">
                            <div class="card-content">
                              <div class="image-container">
                                <img [src]="imageUrl" alt="Product 1" class="featured-image">
                              </div>
                              <h2 class="mb-1">Bruna Cush</h2>
                              <app-rating></app-rating>
                              <p class="price mt-1">$145.60</p>
                            </div>
                          </div>
                    </div>
                </div>

        </div>
    </div>

    <app-footer></app-footer>
</div>
