.cart-item-card {
    background-color: #ffffff;
    border: 2px solid #000000;
    height: 150px;
    border-radius: 12px;
  }
  
  .card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .image-container {
    margin-top: 5px;
    border-radius: 25px;
    width: 100px;
    height: 100px;
    margin-right: 16px;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item-details {
    flex-grow: 1;

    span{
        display: block;
    }
  }
  
  .item-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .item-price {
    font-size: 14px;
    color: #888;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;

    .item{
        display: block;
      }
  }
  
  .quantity-controls button {
    min-width: 32px;
    height: 32px;
    padding: 0;
  }
  
  .quantity {
    margin: 0 8px;
  }
  
