<nav fxHide.gt-sm>
  <div (click)="redirectToPage('')"><span class="material-symbols-outlined"> home </span></div>
  <div (click)="redirectToPage('/product')"><span class="material-symbols-outlined"> chair </span></div>
  <div (click)="redirectToPage('/contact-us')"><span class="material-symbols-outlined"> storefront </span></div>
  <div (click)="redirectToPage('/product')"><span class="material-symbols-outlined"> search </span></div>
  <div (click)="redirectToPage('/product')"><span class="material-symbols-outlined"> shopping_cart </span></div>
  <div (click)="redirectToPage('/product')"><span class="material-symbols-outlined"> account_circle </span></div>
</nav>
