<div class="container-fluid">
    <div class="home-layout">

        <app-navbar></app-navbar>

        <div class="homepage">
            <div class="text-column col-12 col-sm-12 col-md-12 col-lg-6">
                <h1>Exotic minimal<br>furniture</h1>
                <p>Choose from a wide range of well-crafted premium<br>quality wooden furniture online.</p>
                <div class="button-container ml-2">
                <button class="btn mt-2" (click)="redirectToProductPage()">EXPLORE</button>
                </div>
            </div>
            <div class="photo-column col-12 col-sm-12 col-md-12 col-lg-6">
                <img [src]="imageUrl" alt="Photo" class="img-fluid">
            </div>
        </div>
        
        <app-featured-item></app-featured-item>

        <app-float-nav></app-float-nav>
 
    </div>
</div>