.home-layout {
    background-color: #f0f2f9;
    width: 100%;
    height: 100vh;

    @media screen and (max-width: 768px)
    {
      height: 100%;
      padding-bottom: 50px;
    }
}

.homepage {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
  }
  
  .text-column {
    background-color: #f0f2f9;
    padding: 20px;
    color: #555;
    font-size: 20px;
    line-height: 1.5; /* djust line-height if needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 768px)
    {
      padding: 0;
    }
  }

.text-column h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 1.2; /* Adjust line-height if needed */
  color: #000;
  margin-top: 70px;

  @media screen and (max-width: 1200px)
  {
    text-align: center;
  }

  @media screen and (max-width: 959px){
    margin-top: 30px;
  }
}

.text-column p {
  padding-left: 20px;
  @media screen and (max-width: 1200px)
  {
    padding-left: 0;
    text-align: center;
  }
}
  
  .photo-column {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f9;
  }
  
  .photo-column img {
    max-width: 100%;
    height: auto;
  }

  .button-container {
    width: 70%;
    text-align: left;


    @media screen and (max-width: 1200px) {
      text-align: center;
    }
  }

  .btn {
    margin-left: 10px;
    background-color: #050c18;
    color: white;
    font-size: 14px;
    width: 140px;
    height: 45px;
    font-weight: 500;
  }
  
  .img-fluid {
    padding-top: 50px;
    width: 400px;
    height: auto;
  }

  
  