.name{
    font-weight: 600;
    font-size: 40px;
}

.email{
    font-size: 15px;
    font-weight: 600;
}

.lists {
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 18px;
  }
  
  mat-list-item:hover {
    color: orange;
  
    .lists {
        color: orange;
    }
  }

  mat-card{
    margin: 30px;
    width: 30%;
    height: 100px;
    border-radius: 10px;

  }

  .detail-box{
    margin-bottom: 30px;
    h1{
        font-size: 20px;
        font-weight: 600;
    }

  }